@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    <div class="notebookMargin">
        <NavMenu />
    </div>

    <main class="notebook">
        <div class="notebookMarginLine"></div>
        <div class="holes hole-top"></div>
        <div class="holes hole-middle"></div>
        <div class="holes hole-bottom"></div>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
