@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="images/bomb.svg" />
    </div>
</div>
 *@
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item">
            <NavLink class="nav-link" href="wires">
                 Wires
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="button">
                Buttons
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="keypad">
                Keypad
            </NavLink>
        </div>

       @*  <div class="nav-item ">
            <NavLink class="nav-link" href="SimonSays">
                SimonSays
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="WhosOnFirst">
                Who's on First
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="Memory">
                Memory
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="MorseCode">
                Morse Code
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="ComplicatedWires">
                Complicated Wires
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="WireSequences">
                Wire Sequences
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="Mazes">
                Mazes
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="Password">
                Password
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="Needy">
                Needy
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="VentGas">
                Vent Gas
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="Capacitor">
                Capacitor
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="Knobs">
                Knobs
            </NavLink>
        </div> *@
    </nav>
</div>

