@using KeepTalkingManual.Lib.Enums
@using KeepTalkingManual.Lib.HelperFunctions

<h3>SelectedWires</h3>
@foreach (var wire in SelectedWireList)
{
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body @GetStyle.GetCheckboxStyle(wire) button">
                &nbsp;
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public List<choices_WireColour> SelectedWireList { get; set; }
}
