@using KeepTalkingManual.Lib.Enums
@using KeepTalkingManual.Lib.HelperFunctions
@using KeepTalkingManual.Lib.Services

@inject WireService wireService

<p>Select wires in the order shown, from top to bottom.</p>
<div class="col-md-9 mb-9">
    <div class="card h-100">
        <input type="button"
               value="Reset"
               @onclick="() => wireService.ClearWireSelection()" />

        <label for="txtSerialNumber" class="form-text">SerialNumber</label>
        <input type="text" id="txtSerialNumber" class="form-text" @bind="wireService.SerialNumber" @bind:event="oninput" @onkeyup="@(e => wireService.OnSerialNumberKeyup(wireService.SerialNumber))" placeholder="Enter Serial Number" />

        @foreach (var wire in Enum.GetValues<choices_WireColour>())
        {
            <input type="button"
                   value="@wire.ToString()"
                   class="@GetStyle.GetCheckboxStyle(wire) button"
                   @onclick="() => wireService.UpdateWireList(wire)" />
        }
    </div>
</div>
<h3>SelectWires</h3>

@code {
    protected override void OnInitialized()
    {
        wireService.OnWiresUpdated += StateHasChanged;
    }

    public void Dispose()
    {
        wireService.OnWiresUpdated -= StateHasChanged;
    }
}
