@page "/wires6"
<h3>Wires6</h3>

<ul>
    
    <li>If there are no yellow wires and the last digit of the serial number is odd, cut the third wire. </li>
    <li> Otherwise, if there is exactly one yellow wire and there is more than one white wire, cut the fourth wire.</li>
    <li>Otherwise, if there are no red wires, cut the last wire.</li>
    <li>Otherwise, cut the fourth wire.</li>

</ul>
