@page "/wires4"
<h3>Wires4</h3>

<ul>
    <li>If there is more than one red wire and the last digit of the serial number is odd, cut the last red wire.</li>
    <li>Otherwise, if the last wire is yellow and there are no red wires, cut the first wire.</li>
    <li>Otherwise, if there is exactly one blue wire, cut the first wire.</li>
    <li>Otherwise, if there is more than one yellow wire, cut the last wire.</li>
    <li>Otherwise, cut the second wire.</li>
</ul>
